
#layersMenu p {
	margin: 0;
}

#layersMenu ul 
{
        list-style-type: none;
        padding-left: 0px;
}

#layersMenu ul li span { 
        float: left;
        width: 25px;
}

#layersMenu h2 { 
	color: white;
}

.selectAllLayers {
	cursor:pointer;
}

.unselectAllLayers {
	cursor:pointer;
}

.olPopup {
	background:#000 !important;
}

.olPopupCloseBox {
	background: transparent url(../images/close_bt_mini.png)  no-repeat !important;
}

.popupLink {
	cursor:pointer;
	color:#FFF;
}

li.popupattr {
	color:#FFF;
	font-size:1.1em;
	list-style:none;
	margin:0.2em 0;
}

h4.popup {
	color:#FFF;
	font:1.2em;
}

h5.popup {
	color:#FFF;
	font:1.1em;
}

#innerLayers {
	cursor: move;
}